<template>
    <div class="product-list">
      
      <div class="product" v-for="product in products">
        <img :src="product.image">
        
        <div class="info">
          <h4>{{ product.title }}</h4>
          <p class="desc">{{ product.desc }}</p>
          <div class="price">¥{{ product.price }}</div>
          <el-button type="primary">添加到购物车</el-button>
        </div>
      </div>
  
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        products: [
          {
            image: '//img10.360buyimg.com/n7/jfs/t1/21383/2/6633/387960/5c449438E0ab92894/2fd8528dae7e7e4d.jpg',
            title: '联想ThinkPad 翼4809',
            desc: '英特尔酷睿i5 13.3英寸轻薄笔记本',
            price: 5999
          },
          {
            image: '//img11.360buyimg.com/n7/jfs/t1/179818/40/14414/481380/60f5356dE1eb6ed86/dfac6707b1e4624d.jpg',
            title: '华为 HUAWEI MateBook 14',
            desc: '11代英特尔酷睿i7 16GB 512GB',
            price: 6999
          },
          {
            image: '//img11.360buyimg.com/n7/jfs/t1/179818/40/14414/481380/60f5356dE1eb6ed86/dfac6707b1e4624d.jpg',
            title: '华为 HUAWEI MateBook 14',
            desc: '11代英特尔酷睿i7 16GB 512GB',
            price: 6999
          },
          {
            image: '//img11.360buyimg.com/n7/jfs/t1/179818/40/14414/481380/60f5356dE1eb6ed86/dfac6707b1e4624d.jpg',
            title: '华为 HUAWEI MateBook 14',
            desc: '11代英特尔酷睿i7 16GB 512GB',
            price: 6999
          },
          {
            image: '//img11.360buyimg.com/n7/jfs/t1/179818/40/14414/481380/60f5356dE1eb6ed86/dfac6707b1e4624d.jpg',
            title: '华为 HUAWEI MateBook 14',
            desc: '11代英特尔酷睿i7 16GB 512GB',
            price: 6999
          },
          {
            image: '//img11.360buyimg.com/n7/jfs/t1/179818/40/14414/481380/60f5356dE1eb6ed86/dfac6707b1e4624d.jpg',
            title: '华为 HUAWEI MateBook 14',
            desc: '11代英特尔酷睿i7 16GB 512GB',
            price: 6999
          }
        ] 
      }
    }
  } 
  </script>
  
  <style>

  

  .info {
    margin-left: 10px;
  }
  .products {
  display: flex;
  flex-wrap: wrap; 
}

.product {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}

  /* 其他样式 */
  </style>