<template>
    <div class="div-one"></div>
    <!-- 全屏背景 -->
    <div class="fullscreen-bg"></div>

    <div style="margin-top: 11vh;"
        class=" w-[60vw] h-[8vh] mt-0 min-w-[1000px] bg-gray-300 bg-white/25 backdrop-blur-md rounded-2xl">
    </div>

    <!-- 前置div -->
    <div class=" w-[60vw] h-[60vh] mt-2 min-w-[1000px] bg-white/25 backdrop-blur-md rounded-2xl">

        <div class="box">
            <div class="middle">

                <el-card :body-style="{ padding: '28%' }" shadow="hover" class="box-item cursor-pointer"
                    v-for="(o, index) in 8" :key="index">
                    <div class="box1">
                        <el-empty description="暂无图片" class="image" style="margin-left: 5%;" />
                        <!-- <img class="image"
                            src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" /> -->
                        <div class="status-label">已结束</div>
                        <div style="padding: 5px">
                            <span style="color: rgb(212, 206, 198); font-size: 1vw;">xxxxx系统</span>
                            <div class="flex-container">
                                <div style="text-align: left; width: 75%;">
                                    <p style="font-size: 0.2vw;color: #999;word-wrap: break-word;">开始时间:&nbsp;2023-08-18</p>
                                    <p style="font-size: 0.2vw;color: #999;word-wrap: break-word;">结束时间:&nbsp;&nbsp;——&nbsp;
                                    </p>
                                </div>
                                <div>
                                    <el-button color="#d4cdc4" type="primary" size="small">查看详情</el-button>
                                </div>
                            </div>
                        </div>

                    </div>
                </el-card>
                <div class="place" v-for="i in 3" :key="i"></div>
            </div>
        </div>

    </div>
    <div class=" w-[50vw] h-[5vh] mt-2 min-w-[800px]  ">
        <el-pagination background layout="prev, pager, next" :total="12" class=" h-[5vh] container mx-auto " />
    </div>
</template>
<script setup lang="ts">




</script>

<style scoped>
.div-one {
    background-image: url('../assets/哆啦A梦.jpg');
    background-color: #697481;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    margin-left: -20%;
    /* margin-top: 10; */
    top: 0;
    width: 100vw;
    height: 16vh;
    z-index: -1;
}

.fullscreen-bg {
    background-color: rgb(196, 185, 185);
    /* background: linear-gradient(#4e4040, #9198e5); */
    /* background-image: url('../assets/哆啦A梦.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 16vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.box {
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: auto;
}


.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 14px;
}

.box-item {
    position: relative;
    margin-bottom: 10px;
    width: 22%;
    height: 0;
    padding-top: 24%;
    /* background-color: rgb(255, 248, 249); */
}

.place {
    width: 24%;
    height: 0;
    background-color: red;
}

.box1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image {
    border-style: solid;
    display: block;
    width: 100%;
    height: 70%;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    align-items: center;
    /* 垂直居中对齐 */
    gap: 10px;
    /* 两个子元素的间隔 */
}

.card-col {
    flex: 1;
}

.status-label {
    position: absolute;
    top: 0.3vw;
    right: 0.3vw;
    background-color: rgba(175, 170, 139, 0.7);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 10px;
}

.centered-div {
    display: flex;
    justify-content: center;
    /* 水平居中对齐 */
    width: 100%;
    /* 占页面宽度的 80% */
    margin-top: 2vh;
    /* 上边距 */
    min-width: 1000px;
    /* 最小宽度 */
    background-color: rgba(200, 200, 200, 0.5);
    /* 示例背景颜色 */
    backdrop-filter: blur(10px);
    /* 模糊背景效果 */
    border-radius: 8px;
    /* 圆角边框 */
    padding: 20px;
    /* 内边距 */
}
</style>
