<template>
  <!-- 全屏背景 -->
  <div class="fullscreen-bg"></div>

  <!-- 前置div -->
  <div class="relative w-[50vw] h-[35vh] duration-500">
    
    <!-- 真正的div -->
    <div class="box ">
      <!-- 登录form组件 -->
        <LoginForm />
    </div>

  </div>
</template>

<script setup lang="ts">
import LoginForm from '@/components/LoginForm.vue'

</script>

<style scoped>
.fullscreen-bg {
  /* background-color: #ccc; */
  background: linear-gradient(#946666, #9198e5);
  /* background-image: url('../assets/bg1.png'); */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.box{
  @apply absolute left-[80%] bg-white/35 backdrop-blur-md rounded-2xl w-[17vw] h-[30vh] min-w-[320px] max-w-[380px] max-h-[350px]
}
</style>