<template>
  <el-form :model="form" :rules="rules" ref="loginForm" class="absolute items-center left-[10%] right-[10%] top-[11%]">

    <el-form-item>
      <h2 style="margin: 0 auto" class="text-3xl font-black leading-6 text-stroke-sm  text-gray-500 ">登&nbsp;&nbsp;录
      </h2>
    </el-form-item>

    <el-form-item prop="username">
      <el-input v-model="form.username" placeholder="用户名" clearable>
        <template #prepend>
          <el-icon>
            <User />
          </el-icon>
        </template>
      </el-input>
    </el-form-item>

    <el-form-item prop="password">
      <el-input v-model="form.password" placeholder="密码" show-password clearable>
        <template #prepend>
          <el-icon>
            <Lock />
          </el-icon>
        </template>
      </el-input>
    </el-form-item>

    <el-form-item v-if="loginStatu">
      <el-button type="primary" @click="onLogin" class=" w-[100%]">登录</el-button>
    </el-form-item>
    <el-form-item v-else>
      <el-button type="primary" class=" w-[100%]" loading>登录中</el-button>
    </el-form-item>

  </el-form>
</template>
  
<script setup lang="ts">

import { ref, onMounted } from 'vue'
import { User, Lock } from '@element-plus/icons-vue'
import { ElMessage } from 'element-plus'
import { login } from '@/units/api'
import jsCookie from 'js-cookie'



//  表单引用
const loginForm = ref<any>(null)
// 表单数据
const form = ref({
  username: '',
  password: ''
})

const loginStatu = ref(true)

const rules = {
  username: [
    { required: true, message: '请输入用户名' },
    { pattern: /^\w{3,20}$/, message: '用户名格式错误' }],
  password: [
    { required: true, message: '请输入密码' },
    { pattern: /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/, message: '密码格式错误' }]
};

// 提交处理
const onLogin = async () => {
  // 切换加载状态
  loginStatu.value = false
  // 表单校验
  try {
    await loginForm.value.validate()
    // Simulate login success
    login(form.value).then(res => {
      jsCookie.set('ticket.token', res.token)
      ElMessage.success('登录成功')
    }).catch(e => {
      console.log(e)
    })

  } catch (e) {
    ElMessage.error('登录失败')
  }
  // 重置加载状态
  loginStatu.value = true
}

// 进入时调用
onMounted(() => {

});
</script>
  
<style>
.el-form-item__error {
  color: #064e3b;
  /* 将此值更改为您想要的颜色 */
}
</style>